* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#root #filter-day {
  margin-right: 0.3em;
}
#root .main {
  width: 65%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#root .main .filter-day-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
#root .main .card .card-header {
  font-weight: bold;
}
#root .main form .form-check {
  display: flex;
  align-items: center;
}
#root .main form .form-check .form-check-input {
  margin-right: 0.2em;
}
#root .main td .form-inline-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}
#root .main td .form-inline-icon .form-control {
  width: 90%;
  margin-right: 0.3em;
}
#root .main td .form-inline-icon img {
  cursor: pointer;
  width: 25px;
  height: 25px;
}
#root .main td .form-inline-icon button {
  border: none;
}
#root .main .buttons-line {
  display: flex;
  width: 100%;
  justify-content: center;
}
#root .main .buttons-line .skip-button {
  margin-left: auto;
}
#root .main .buttons-line .edit-button {
  margin-left: auto;
}

h1 {
  font-size: 3ch;
  font-weight: bold;
}
