@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    width: 65%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#new-collection-row-template {
    display: none;
    border-collapse: none;
}

.filter-day-container {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
}