@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    width: 65%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filter-day-container {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
}

.card-header {
   font-weight: bold;
}

h1 {
    font-size: 3ch;
    font-weight: bold;
}

.buttons-line {
    display: flex;
    width: 100%;
    justify-content: center;
}

.skip-button {
    margin-left: auto;
}

.edit-button {
    margin-left: auto;
}

.icon {
    display: inline;
    cursor: pointer;
}

.form-check {
    display: flex;
    align-items: center;
}